<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <script>
      var ws = new WebSocket('ws://localhost:3001');
      // event emmited when connected
      ws.onopen = function () {
        console.log('websocket is connected ...')
        // sending a send event to websocket server
        ws.send('connected')
      }
      // event emmited when receiving message
      ws.onmessage = function (message) {
        document.getElementById('data').innerHTML = message.data;
      }
    </script>
</head>
<body>
    <p>Hello, Websocket</p>
<p>Data:</p>
<p id="data"></p>
</body>
</html>